header {
    height: 50px;
    width: 100%;
    background: linear-gradient(var(--verdePrueba4), var(--verdePrueba3));
    display: flex;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    left: 0;
  }
  
  header img {
    height: 100%;
    margin-right: 15px;
  }