<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>

        <%- include("partials/header") %>

            <main class="home">
                <div class="error-container">
                    <div class="titulo">
                        <h2>Quienes Somos?</h2>
                    </div>
                    <img id="imagen" src="https://media.giphy.com/media/llJVg4Ri0VrUBzNOgG/giphy.gif" alt="error">
                    <div class="texto">
                        <p>Somos Animal Park. Un grupo de amigos con el sueño de poder amar y cuidar a cada uno de los
                            animales del planeta siendo ecológicamente responsables, innovando para poder hacer nuestro
                            gran sueño realidad.
                            Nuestro sitio web ofrece todo lo que un animal podria necesitar.</p>
                    </div>
                </div>
                <div class="error-container">
                    <div class="titulo">
                        <h2>SOBRE NOSOTROS</h2>
                    </div>
                    
                    <div class="texto">
                        <p>Nuestro objetivo es acercarnos a las personas cuyos ideales y principios por los animales,
                            sean los mismos que los nuestros.
                            Nuestro amor por la ecologia y los animales, nos llevan a un punto de reflexion donde la
                            union por estos seres tan hermosos que acompañan nuestros dias o simplemente admiramos, nos
                            invite a cuidarlos, protegerlos y por que no mimarlos tambien.

                            Si sos amante de los animalitos como nosotros, unite a nuestra comunidad y seguinos en
                            nuestras redes sociales. Ayudanos a crear un mundo mejor para ellos</p>
                    </div>
     
                </div>
                <div class="error-container">
                    <div class="titulo">
                        <h2>Integrantes del equipo</h2>
                    </div>
                    <div class="texto">
                        <p>
                            Jonatan Ballestero - Estudiante FullStack
                            <hr>
                            <a href="jonatan.a.ballestero@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/jonballes/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <hr>
                            Ramon Britez - Estudiante FullStack
                            <hr>
                            <a href="rbritez966@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/ramon-britez-sanabria-08020323a/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <hr>
                            Nico Filippelli - Estudiante FullStack
                            <hr>
                            <a href="nicolasfilippelli22@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/nicolas-filippelli/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <hr>
                            Rocio Vazquez - Estudiante FullStack
                            <hr>
                            <a href="Rosbelg15@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/rocío-vázquez/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <hr>
                            Celeste Gonzalez - Estudiante FullStack
                            <hr>
                            <a href="milenniacode@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/mar%C3%ADa-celeste-gonz%C3%A1lez-87585b265/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                        </p>

                        
                    </div>
                    <a id="link-home" href="/">Volver al home?</a>
                </div>
            </main>

            <%- include("partials/footer") %>
    </body>

</html>