<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head")  %> 

  <body>
  
  <%- include("partials/header")  %> 
    <main>
      <div class="titulo">
        <h1>Carrito de compras:</h1>
      </div>
      <section class="lista">
        <article class="producto">
          <img src="/image/producto.jpg" alt="plato para perro" />
          <div class="datos">
            <h2>Plato sasha</h2>
            <p class="descripcion">
              Plato negro con dise침o de huellitas blancas, tama침o:20x15
            </p>
            <p class="precio">$840</p>
          </div>
          <div class="boton">
            <button><i class="fa-solid fa-circle-minus"></i></button>
            <span> 05 </span>
            <button><i class="fa-solid fa-circle-plus"></i></button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
        </article>
        <article class="producto">
          <img src="/image/CamaMichi.jpg" />
          <div class="datos">
            <h2>Cama Nina</h2>
            <p class="descripcion">
              Cama para gatos tipo iglu, Tama침o: 50x50, color:gris
            </p>
            <p class="precio">$2500</p>
          </div>
          <div class="boton">
            <button><i class="fa-solid fa-circle-minus"></i></button>
            <span> 05 </span>
            <button><i class="fa-solid fa-circle-plus"></i></button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
        </article>
      </section>
      <section class="envios">
        <div class="envio">
          <h2>Metodos de envio:</h2>
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="metodo">
          <a href="https://www.correoargentino.com.ar/">Correo Argentino</a>
          <a href="https://www.andreani.com/">andreani</a>
          <button>Retiro en sucursales</button>
        </div>
      </section>

      <section class="descuento">
        <div class="cupon">
          <input type="text" placeholder="Ingresa tu cup칩n" />
          <i class="fa-solid fa-tag"></i>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </section>

      <section class="precio">
        <ul>
          <div>
            <li>Total sin envio</li>
            <li>$3.340</li>
          </div>
          <div>
            <li>Envio</li>
            <li>$540</li>
          </div>
          <div>
            <li>Total con envio</li>
            <li>$3.900</li>
          </div>
        </ul>
      </section> <div class="comprar">
      <button><i class="fa-solid fa-money-check-dollar"> Pagar</i></button>
      <button><i class="fa-solid fa-cart-shopping">Seguir agregando productos</i>
      </button></div>
    </main>
    <%- include("partials/footer")  %> 

  </body>
</html>
