<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"

    />
    <link rel="stylesheet" href="css/carrito.css" />
    <link rel="stylesheet" href="css/style.css">
    <title>Carrito - Animal Park</title>
  </head>
  <body>
    <header class="main-header" id="top">
      <section>
      <div class="logo"><a href="/"><img src="/img/logo_cuadrado_fondo_blanco-mod.png" alt="Logo-mobile" class="logo"></a></div>
  
      <div class="busqueda">
          <input type="search" placeholder="Buscar productos">
          <button>
              <i class="fa-solid fa-magnifying-glass"></i>
          </button>
      </div>
    
      <nav>
         
          <div class="burger-menu btn">
              <i class="fas fa-bars"></i>
          </div>
          
          <ul class="listaSuperior">
              <li><a class="btn" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
              <li><a class="btn" href="/login"><i class="fa-solid fa-user"></i></a></li>
              <li><a class="btn" href="/error"><i class="fa-solid fa-circle-question"></i></a></li>
          </ul>
      </nav>
      </section>

      <nav class="navegacion">
          <ul>
              <li class="btn"><a href="/register">Registrarme</a></li>
              <li class="btn"><a href="/error">Quienes somos?</a></li>
              <li class="btn"><a href="/error">Proveedores</a></li>
              <li class="btn"><a href="#products">Productos</a></li>
              <li class="btn"><a href="#pets">mascotas</a></li>
          </ul>

      </nav>

  </header>
    <main>
      <div class="titulo">
        <h1>Carrito de compras:</h1>
      </div>
      <section class="lista">
        <article class="producto">
          <img src="/image/producto.jpg" alt="plato para perro" />
          <div class="datos">
            <h2>Plato sasha</h2>
            <p class="descripcion">
              Plato negro con diseño de huellitas blancas, tamaño:20x15
            </p>
            <p class="precio">$840</p>
          </div>
          <div class="boton">
            <button><i class="fa-solid fa-circle-minus"></i></button>
            <span> 05 </span>
            <button><i class="fa-solid fa-circle-plus"></i></button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
        </article>
        <article class="producto">
          <img src="/image/CamaMichi.jpg" />
          <div class="datos">
            <h2>Cama Nina</h2>
            <p class="descripcion">
              Cama para gatos tipo iglu, Tamaño: 50x50, color:gris
            </p>
            <p class="precio">$2500</p>
          </div>
          <div class="boton">
            <button><i class="fa-solid fa-circle-minus"></i></button>
            <span> 05 </span>
            <button><i class="fa-solid fa-circle-plus"></i></button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
        </article>
      </section>
      <section class="envios">
        <div class="envio">
          <h2>Metodos de envio:</h2>
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="metodo">
          <a href="https://www.correoargentino.com.ar/">Correo Argentino</a>
          <a href="https://www.andreani.com/">andreani</a>
          <button>Retiro en sucursales</button>
        </div>
      </section>

      <section class="descuento">
        <div class="cupon">
          <input type="text" placeholder="Ingresa tu cupón" />
          <i class="fa-solid fa-tag"></i>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </section>

      <section class="precio">
        <ul>
          <div>
            <li>Total sin envio</li>
            <li>$3.340</li>
          </div>
          <div>
            <li>Envio</li>
            <li>$540</li>
          </div>
          <div>
            <li>Total con envio</li>
            <li>$3.900</li>
          </div>
        </ul>
      </section> <div class="comprar">
      <button><i class="fa-solid fa-money-check-dollar"> Pagar</i></button>
      <button><i class="fa-solid fa-cart-shopping">Seguir agregando productos</i>
      </button></div>
    </main>
    <footer>
 
      <div class="boton-arriba"><a href="#top">^</a></div>
   
   <nav>
       
       <nav class="interaccion">
           <div class="info-footer">
               <h4>Contactanos</h4>
               <ul class="red-social">
                   <li><a href="https://wa.me/5411234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20producto"><i class="fa-brands fa-whatsapp"></i></a></li>
                   <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                   <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
               </ul>
           </div>

           <div class="info-footer">
           <h4>Sobre nosotros</h4>
               <ul>
               <li><a href="/error">Quienes somos?</a></li>
               <li><a href="/error">Proveedores</a></li>
               <li><a href="/error">Terminos y condiciones</a></li>
               </ul>
           </div>
   
           <div class="info-footer">
           <h4>Ayuda</h4>
           <ul>
               <li><a href="/error">FAQ</a></li>
               <li><a href="/register">Registrarme</a></li>
           </ul>
           </div>
       </nav>
   </nav>
   <section class="final">
   <div id="logo"><a href="/"><img src="/img/logo_banner_fondo_blanco_mod.png" alt="logo"></a></div>
   <div class="qr"><img src="/image/qr-chelo.png" alt="qr"></div>
   </section>
    
</footer>

  </body>
</html>
