<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")  %> 

    <body>
    
    <%- include("partials/header")  %> 
   
    <main>
        <div class="error-container">
            <div id="titulo"><h2>UPS! Ha ocurrido un error</h2></div>
            <img id="imagen" src="/image/animalPark/Error.png" alt="error"> 
            <div id="texto"><p>Estamos trabajando en esta pagina. Intentelo mas tarde</p></div>
            <a id="link-home" href="/">Volver al home?</a>
        </div>
    </main>

    <%- include("partials/footer")  %> 
</body>
</html>