<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/stylePrueba.css" />
    <script
      src="https://kit.fontawesome.com/1db27a1d0e.js"
      crossorigin="anonymous"
    ></script>
    <title>Animal Park</title>
  </head>
  <body>
    <header>
      <div class="header__topBar">
        <a href="/" class="logo"><img src="image/logoCuadrado.jpeg" alt="" class="logo" /></a>

        <form class="header__topBar-search" method="get">
          <input type="text" placeholder="Buscar" />
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <ul class="header__topBar-account">
          <li>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-circle-user"></i></a>
          </li>
        </ul>

      </div>
      <nav>
        <ul>
          <li><a href="#">Todo</a></li>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Alimento</a></li>
          <li><a href="#">Accesorios</a></li>
          <li><a href="#">Marcas</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
