<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>

	<%- include('../partials/header') %> 

	<main class="form-create">

		<div class="login__menu">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Formulario de creación de productos</h2>
				</div>
			</div>
			
			<div class="login__menu-form">
				<form action="/products" method="post" enctype="multipart/form-data">
					<div class="form-container">
						
						<div class="input">
							<label for="name" class="form-label">Nombre del producto:</label>
							<input type="text" id="name" name="name" placeholder="Ej: Comida para gatos" class="form-input">
						</div>
						
						<div class="input">
							<label for="price" class="form-label">Precio del producto:</label>
							<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
						</div>
						
						<div class="input">
							<label for="discount" class="form-label">Descuento:</label>
							<input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
						</div>
						
						<div class="input">
							<label for="weight" class="form-label">Peso:</label>
							<input type="text" id="weight" name="weight" placeholder="Ej: 20kg" class="form-input">
						</div>
						
						
						<div class="selectores">
							<label for="pet" class="form-label">Animal:</label>
							<select name="pet" id="pet" class="form-input">
								<option value="">Elegí</option>
								<option value="gatos">Gatos</option>
								<option value="perros">Perros</option>
								<option value="peces">Peces</option>
								<option value="aves">Aves</option>
								<option value="reptiles">Reptiles</option>
								<option value="roedores">Roedores</option>
							</select>
						</div>
							
							
							<div class="selectores">
								<label for="category" class="form-label">Categoria:</label>
								<select name="category" id="category" class="form-input">
									<option value="">Elegí</option>
									<option value="alimentos">Alimentos</option>
									<option value="accesorios">Accesorios</option>
									<option value="juguetes">Juguetes</option>
									<option value="vestimenta">Vestimenta</option>
									<option value="higiene/prevencion">Higiene/Prevencion</option>
									<option value="camas/cuchas">Camas/Cuchas</option>
							</select>
						</div>
						
						<div class="input">
							<label for="image" class="form-label">imagen</label>
							<input type="file" id="image" name="image">
						</div>

						<div class="description">
							<label for="description" class="form-label">Descripción:</label>
							<textarea name="description" id="description" class="form-input"></textarea>
						</div>
						
						<div class="save-product">
							<button type="submit" class="btn">Guardar producto</button>
						</div>
					</div>
				</form>
			</div>
	
		</div>
	
	</main>


    <%- include('../partials/footer') %> 
    
</body>
</html>