<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    
<header>
 
    <div class="logo">
        <a href="home.html"><img src="/public/image/logo.jpg" alt=""></a>
    </div>
       
    <div class="busqueda">
            <input type="search" placeholder="Buscar productos">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
    </div>
    
    <div>
        <ul id="listaSuperior">
            <li><a href="">Carrito</a></li>
            <li><a href="">Login/Micuenta</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    </div>


</header>


    <main></main>


    <footer></footer>

</body>
</html>