<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    
<header>
 
    <div class="logo">
        <a href="home.html"><img src="/public/image/logo.jpg" alt=""></a>
    </div>
       
    <div class="busqueda">
            <input type="search" placeholder="Buscar productos">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
    </div>
   
   
    <nav class="burger-menu">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
    
    <nav>
        <ul class="listaSuperior">
        <li><a href="">Carrito</a></li>
        <li><a href="">Login/Micuenta</a></li>
        <li><a href="">Ayuda</a></li>
        </ul>
    </nav>


</header>


<main>
    
    <nav class="filter">
        <div><a href="#">Alimentos</a></div>
        <div><a href="#">Accesorios</a></div>
        <div><a href="#">Jueguetes</a></div>
        <div><a href="#">Vestimenta</a></div>
        <div><a href="#">Higiene y prevencion</a></div>
        <div><a href="#">Camas y cuchas</a></div>
    </nav>

     <section>
         <h2>Ofertas</h2>
     
     <div class="productContainer">
         <article class="productCard">
             <div class="imageContainer">
                 <img src="https://media.giphy.com/media/umL1iTyLubkoCsBgQn/giphy.gif" alt="ProductoDestacado-1">
             </div>
             <h3>nombre producto</h3>
             <p>$99999</p>
             <a href="" class="btn">Comprar</a>
         </article>
         <article class="productCard">
             <div class="imageContainer">
                 <img src="https://media.giphy.com/media/1BeDLpqhNUgWew7XBP/giphy.gif" alt="productoDestacado-2">
             </div>
             <h3>nombre producto</h3>
             <p>$99999</p>
             <a href="" class="btn">Comprar</a>
         </article>
         <article class="productCard">
             <div class="imageContainer">
                 <img src="https://media.giphy.com/media/XlQ0jrSNBeF6oW5zIE/giphy.gif" alt="productoDestacado-3">
             </div>
             <h3>nombre producto</h3>
             <p>$99999</p>
             <a href="" class="btn">Comprar</a>
         </article>
     </div>
     
     
     
     </section>
 </main>


    <footer>
        <div id="suscribe"><input type="search" placeholder="Ingresa tu mail">
            <button>
                <p>Suscribite</p>
            </button>
        </div>
    
        
       <nav>
         <div id="logo"><img src="/public/image/logo.jpg" alt=""></div>
       
            <div class="ayuda">
            <h4>Sobre nosotros</h4>
            <ul>
                <li><a href="#">Quienes somos?</a></li>
                <li><a href="#">Proveedores</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
        </div>
    
        <div class="cuenta">
            <h4>Cuenta</h4>
            <ul>
                <li><a href="#">Ingresar</a></li>
                <li><a href="#">Registrarme</a></li>
            </ul>
        </div>
    
        <div class="contacto">
            <h4>Contactanos</h4>
            <ul>
                <li><a href="#">Contacto</a></li>
                <li id="fb"><a href="https://www.facebook.com/"><img src="/Public/image/fb.png" alt="fb"></a></li>
                <li id="ig"><a href="#"></a><img src="/Public/image/ig.jpg" alt="ig"></li>
            </ul>
        </div>
     </nav>
    </footer>
</body>
</html>