<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylePrueba.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Registrarse - Animal Park</title>
</head>
<body>
    <header>
     
    </header>
    <main>
        <div class="register__menu">
            <div class="register__menu-icon"><img src="image/register.png"><p>Crear Cuenta</p></div>
            <div class="register__menu-form">
                
            </div>
        </div>
    </main>
</body>
</html>