:root {
  --primary: #485550;
  --secondary: #c0eb6a;
  --background: #d9d9d9;
  --menu: #ffffff;
  --specialFont: #f4f6f0;
}

/* HEADER */

header {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

header a {
  display: flex;
}

header a img {
  align-self: center;
  width: 45px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

/* FIN HEADER */

/* CUERPO */

main {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  padding: 16px 12px 45px;
  background-image: url();
}

main div.register__menu {
  height: 450px;
  width: 300px;
  border: 1px solid black;
  background-color: var(--menu);
  display: flex;
  flex-direction: column;
}

main div.register__menu div.register__menu-icon {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  height: 47px;
  border-bottom: 1px solid black;
  gap: 6px;
}

main div.register__menu div.register__menu-icon img {
  width: 35px;
}

main div.register__menu div.register__menu-form {
  display: flex;
  flex-direction: column;
}

/* Media Queries */

@media (min-width: 768px) {
  main div.register__menu {
    height: 600px;
    width: 450px;
  }
}

/* FIN CUERPO */
