.app-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }
  
  .app-wrapper .content-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 50px;
  }
  
  main.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
  }

  @media (min-width: 768px) {
    main.content {
        margin-left: 100px;
      }
  }