<section class="carrusel">
    <div class="carrusel">
     <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" 
              name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="/image/carrousel/1.jpg">
        </div>
        <input class="slide-open" type="radio" id="slide-2" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="/image/carrousel/2.jpg">
        </div>
        <input class="slide-open" type="radio" id="slide-3" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="/image/carrousel/3.jpg">
        </div>
        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>
</section>