<nav class="filter">
    <div class="filter">  <a href="/error"> <i class="fa-solid fa-dog"></i>Perros</a></div>
    <div class="filter">  <a href="/error"> <i class="fa-solid fa-cat"></i>Gatos</a></div>
    <div class="filter">  <a href="/error"> <i class="fa-solid fa-fish"></i>Peces</a></div>
    <div class="filter">  <a href="/error"> <i class="fa-solid fa-otter"></i>Roedores</a></div>
    <div class="filter">  <a href="/error"> <i class="fa-solid fa-dove"></i>Aves</a></div>
    <div class="filter">  <a href="/error"> <i class="fa-solid fa-worm"></i>Reptiles</a></div>
    </nav>