<section class="filter" id="products">
    <h2>Tenemos de todo para tus mascotas!</h2>
    <nav class="filter">
        <div class="filter">  <a href="/error"> <i class="fa-solid fa-bowl-food"></i>Alimentos</a></div>
        <div class="filter">  <a href="/error"> <i class="fa-solid fa-icons"></i>Accesorios</a></div>
        <div class="filter">  <a href="/error"> <i class="fa-brands fa-octopus-deploy"></i>Juguetes</a></div>
        <div class="filter">  <a href="/error"> <i class="fa-solid fa-democrat"></i>Vestimenta</a></div>
        <div class="filter">  <a href="/error"> <i class="fa-solid fa-spray-can-sparkles"></i>Higiene y prevencion</a></div>
        <div class="filter">  <a href="/error"> <i class="fa-solid fa-house"></i>Camas/ cuchas</a></div>
    </nav>
</section>


