<section class="filter" id="products">
    <nav class="filter">
        <div class="filter">  <a href="/search?keywords=alimentos"> <i class="fa-solid fa-bowl-food"></i>Alimentos</a></div>
        <div class="filter">  <a href="/search?keywords=accesorios"> <i class="fa-solid fa-icons"></i>Accesorios</a></div>
        <div class="filter">  <a href="/search?keywords=juguetes"> <i class="fa-brands fa-octopus-deploy"></i>Juguetes</a></div>
        <div class="filter">  <a href="/search?keywords=vestimenta"> <i class="fa-solid fa-democrat"></i>Vestimenta</a></div>
        <div class="filter">  <a href="/search?keywords=higiene"> <i class="fa-solid fa-spray-can-sparkles"></i>Higiene y prevencion</a></div>
        <div class="filter">  <a href="/search?keywords=camas"> <i class="fa-solid fa-house"></i>Camas/ cuchas</a></div>
    </nav>
</section>


