<footer>
 
    <div class="boton-arriba"><a href="#top">^</a></div>
 
 <nav>
     
     <nav class="interaccion">
         <div class="info-footer">
             <h4>Contactanos</h4>
             <ul class="red-social">
                 <li><a href="https://wa.me/5411234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20producto"><i class="fa-brands fa-whatsapp"></i></a></li>
                 <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                 <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
             </ul>
         </div>

         <div class="info-footer">
         <h4>Sobre nosotros</h4>
             <ul>
             <li><a href="/error">Quienes somos?</a></li>
             <li><a href="/error">Proveedores</a></li>
             <li><a href="/error">Terminos y condiciones</a></li>
             </ul>
         </div>
 
         <div class="info-footer">
         <h4>Ayuda</h4>
         <ul>
             <li><a href="/error">FAQ</a></li>
             <li><a href="/register">Registrarme</a></li>
         </ul>
         </div>
     </nav>
 </nav>
 <section class="final">
 <div id="logo"><a href="/"><img src="/img/logo_banner_fondo_blanco_mod.png" alt="logo"></a></div>
 <div class="qr"><img src="/image/qr-chelo.png" alt="qr"></div>
 </section>
  
</footer>