<header class="main-header" id="top">
    <section>
    <div class="logo"><a href="/"><img src="/image/animalPark/logo_cuadrado_fondo_blanco-mod.png" alt="Logo-mobile" class="logo"></a></div>

    <div class="busqueda">
        <form action="/search" method="get" class="busqueda">
         <input type="search" placeholder="Buscador por nombre, categoria o mascotas" name="keywords">
            <button type="submit">
             <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

   
        <div class="burger-menu btn" id="burger-menu" >
            <i class="fas fa-bars"></i>
        </div>
  
        <nav class="menu-container" id="menu">
            <div class="btn-close-container">
                <i class="fa-regular fa-circle-xmark" id="btn-close"></i>
            </div>
          
            <ul class="menu">
                <li> <a href="/"> <i class="fa-solid fa-paw"></i> Home <i class="fa-solid fa-paw"></i></a></li>
                <li> <a href="/products"><i class="fa-solid fa-paw"></i> Productos <i class="fa-solid fa-paw"></i> </a></li>
                <% if (typeof session.user != "undefined" ) { %>
                    <% if (session.user.rol_id === 1) { %>
                        <li> <a href="/admin"> <i class="fa-solid fa-paw"></i> Administrar <i class="fa-solid fa-paw"></i></a></li>
                    <% } else {%>
                        <li> <a href="/carrito"><i class="fa-solid fa-paw"></i> Carrito <i class="fa-solid fa-paw"></i></a></li>
                    <% } %>
                    <li> <a href="/users/profile"> <i class="fa-solid fa-paw"></i> Mis datos <i class="fa-solid fa-paw"></i></a></li>
                    <li> <a href="/users/logout"><i class="fa-solid fa-paw"></i> Salir <i class="fa-solid fa-paw"></i> </a></li>
                <% } else {%>
                <li> <a href="/#sobreNosotros"><i class="fa-solid fa-paw"></i> Sobre nosotros <i class="fa-solid fa-paw"></i></a></li>
                <li> <a href="/users/login"><i class="fa-solid fa-paw"></i> Ingresar <i class="fa-solid fa-paw"></i> </a></li>
                <% } %>
            </ul>

            
         </nav>




<nav class="botonera">
    <ul class="listaSuperior">
        <li><a class="btn" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li>
            <div class="user-icons-desktop">
                <div class="user">
                    <% if (typeof session.user != "undefined") { %>
                        <img class="avatar btn" src="/image/users/<%= session.user.avatar %>" alt="avatar"><span class="session"></span>
                        <div class="menu-user">
                            <a href="/users/profile">Mis datos</a>
                            <a href="/users/logout">Cerrar sesión</a>
                            <% if (session.user.rol_id === 1) { %>
                                <a href="/admin">ADMIN</a>
                            <% } %>
                        </div>
                    <% } else {%>
                        <li><a class="btn" href="/users/login"><i class="fa-solid fa-user"></i></a></li>

                    <% } %>
                </div>
            </li>
            <li><a class="btn" href="/error"><i class="fa-solid fa-circle-question"></i></a></li>
        </ul>
    </nav>
    </section>

    <nav class="navegacion">
        <ul>
           
            
        <% if (typeof session.user != 'undefined') { %>
            
            <% if (session.user.rol_id === 1) { %>
                <li class="btn"><a href="/products/create">Vender</a></li>
                <li class="btn"><a href="/admin/products-list">Lista de productos</a></li>
                <li class="btn"><a href="/admin/admin-list">Lista de usuarios</a></li>
                <li class="btn"><a href="/admin/banner-edit">Editar Banner</a></li>
            <% } else {%>
                <li class="btn"><a href="/error">Proveedores</a></li>
                <li class="btn"><a href="/products">Productos</a></li>
                <li class="btn"><a href="#pets">mascotas</a></li>
            <% } %>
            <% } else {%>
                <li class="btn"><a href="/users/register">Registrarme</a></li>
                <li class="btn"><a href="/products">Productos</a></li>
                <li class="btn"><a href="#pets">mascotas</a></li>
        <% } %>
            
        </ul>
    </nav>


</header>