<header class="main-header" id="top">
    <section>
    <div class="logo"><a href="/"><img src="/image/animalPark/logo_cuadrado_fondo_blanco-mod.png" alt="Logo-mobile" class="logo"></a></div>

    <div class="busqueda">
        <div>
        <input type="search" placeholder="Buscar productos">
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        </div>
    </div>
  
    <nav>
        <div class="burger-menu btn">
            <i class="fas fa-bars"></i>
        </div>
        
        <ul class="listaSuperior">
            <li><a class="btn" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a class="btn" href="/login"><i class="fa-solid fa-user"></i></a></li>
            <li><a class="btn" href="/error"><i class="fa-solid fa-circle-question"></i></a></li>
        </ul>
    </nav>
    </section>

    <nav class="navegacion">
        <ul>
            <li class="btn"><a href="/register">Registrarme</a></li>
            <li class="btn"><a href="/products/create">Vender</a></li>
            <li class="btn"><a href="/error">Proveedores</a></li>
            <li class="btn"><a href="/products">Productos</a></li>
            <li class="btn"><a href="#pets">mascotas</a></li>
        </ul>

    </nav>

</header>