<header class="main-header" id="top">
    <section>
    <div class="logo"><a href="/"><img src="/image/animalPark/logo_cuadrado_fondo_blanco-mod.png" alt="Logo-mobile" class="logo"></a></div>

    <div class="busqueda">
        <form action="/search" method="get" class="busqueda">
         <input type="search" placeholder="Buscador por nombre, categoria o mascotas" name="keywords">
            <button type="submit">
             <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

   
        <div class="burger-menu btn" id="burger-menu" >
            <i class="fas fa-bars"></i>
        </div>
  
        <nav class="menu-container" id="menu">
            <div class="btn-close-container">
                <i class="fa-regular fa-circle-xmark" id="btn-close"></i>
            </div>
          
            <ul class="menu">
                <li> <a href="/"> <i class="fa-solid fa-paw"></i> Home <i class="fa-solid fa-paw"></i></a></li>
                <li> <a href="/products"><i class="fa-solid fa-paw"></i> Productos <i class="fa-solid fa-paw"></i> </a></li>
                <li> <a href="/carrito"><i class="fa-solid fa-paw"></i> Carrito <i class="fa-solid fa-paw"></i></a></li>
                <li> <a href="/error"><i class="fa-solid fa-paw"></i> Contáctenos <i class="fa-solid fa-paw"></i> </a></li>
            </ul>

            
         </nav>




<nav class="botonera">
    <ul class="listaSuperior">
            <li><a class="btn" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <% if (typeof session.user != 'undefined') { %>
                <li><a class="btn" href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                <li><a href="/users/edit/<%- session.user.id %>"><img class="avatar btn" src="/image/users/<%= session.user.avatar %>" alt="avatar"></a></li>
            <% }else {%>
            <li><a class="btn" href="/users/login"><i class="fa-solid fa-user"></i></a></li>
            <li><a class="btn" href="/error"><i class="fa-solid fa-circle-question"></i></a></li>
            <% } %>
        </ul>
    </nav>
    </section>

    <nav class="navegacion">
        <ul>
           
            
        <% if (typeof session.user != 'undefined') { %>
            <li class="btn"><a href="/error">Proveedores</a></li>
            <li class="btn"><a href="/products">Productos</a></li>
            <li class="btn"><a href="#pets">mascotas</a></li>
            <% if (session.user.rol == "ADMIN") { %>
                <li class="btn"><a href="/products/create">Vender</a></li>
                <li class="btn"><a href="/admin/products-list">Lista de productos</a></li>
                <li class="btn"><a href="/admin/admin-list">users</a></li>
            <% } %>
            
            <% } else {%>
                <li class="btn"><a href="/users/register">Registrarme</a></li>
                <li class="btn"><a href="/products">Productos</a></li>
                <li class="btn"><a href="#pets">mascotas</a></li>
        <% } %>
            
            
          
        </ul>
    </nav>


</header>