<header class="main-header" id="top">
    <section>
    <div class="logo"><a href="/"><img src="/image/animalPark/logo_cuadrado_fondo_blanco-mod.png" alt="Logo-mobile" class="logo"></a></div>

    <div class="busqueda">
        <form action="/search" method="get" class="busqueda">
         <input type="search" placeholder="Buscar productos" name="keywords">
            <button type="submit">
             <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
  




   
        <div class="burger-menu btn" id="burger-menu" >
            <i class="fas fa-bars"></i>
        </div>
  
        <nav class="menu-container" id="menu">

            <ul class="menu">
                <li> <a href="/"> Home </a></li>
                <li> <a href="/products"> Productos </a></li>
                <li> <a href="/carrito"> Carrito </a></li>
                <li> <a href="/error"> Contáctenos </a></li>
            </ul>

            <div class="btn-close-container">
                <i class="fa-regular fa-circle-xmark" id="btn-close"></i>
            </div>
         </nav>




<nav class="botonera">
    <ul class="listaSuperior">
            <li><a class="btn" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a class="btn" href="/login"><i class="fa-solid fa-user"></i></a></li>
            <li><a class="btn" href="/error"><i class="fa-solid fa-circle-question"></i></a></li>
        </ul>
    </nav>
    </section>

    <nav class="navegacion">
        <ul>
            <li class="btn"><a href="/register">Registrarme</a></li>
            <li class="btn"><a href="/products/create">Vender</a></li>
            <li class="btn"><a href="/error">Proveedores</a></li>
            <li class="btn"><a href="/products">Productos</a></li>
            <li class="btn"><a href="#pets">mascotas</a></li>
        </ul>
    </nav>


    <script src="JS/burger-menu.js"></script>
</header>