@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

h1,h2
 {margin: 5px;}
body {
  background-image: url(/img/sepiaMArron2.jpeg); 
  background-position: center;
  background-size: cover;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


main {
  padding: 7px;
  font-size: 10px;
  border-radius: 10px;
}
main h1{
  font-size: 1.7rem;
}

main > section.lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main section article {
  background: linear-gradient(var(--verdePrueba4), var(--verdePrueba3));
  box-shadow: 0px 3px 5px var(--verdePrueba2);
  border-radius: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
main section article img {
  height: 40px;
  width: 40px;
}
main > section article div p.descripcion {
  display: none;
}
main > section article div.boton button {
  width: 23px;
  height: 23px;
  border: none;
  border-radius: 50%;
}
main > section.lista article.producto div.boton {
  display: flex;
  gap: 7px;
}
main i{
  color:#035e02e5
}
main > section.lista article.producto div.boton span {
  font-size: 23px;
  text-align: center;
}
main > section.lista article.producto div.datos {
  display: flex;
  flex-direction: column;
}

main > section.lista article.producto div.datos h2 {
  font-size: 16px;}
  main>section.lista article.producto div.datos p.precio{
    font-size: 12px;
  }

  main>section.envios div.envio{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
  }
  main>section.envios div.metodo a{
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: #03A600;
    color: antiquewhite;
    justify-content: center;
    gap:5px;
    text-decoration: none;
    margin: 5px 3px 5px;
    border-radius: 15px;
     }
  main>section.envios div.metodo button{
    width:98.3%;
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: #03A600;
    color: antiquewhite;
    justify-content: center;
    gap:5px;
    margin: 5px 3px 5px;
    border-radius: 15px;
     }
   
main>section.descuento div.cupon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 8px;
font-size: 25px;
}
main>section.descuento div.cupon input{
  border-color: var(--verdePrueba1);

}
 main>section.precio{
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: none;
align-items: center;
width: 100%;


} 
main>section.precio ul{
  width: 98%;
}
main>section.precio ul div{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
padding-left: 50px;
}

main>section.precio ul div li{
font-size: 16px;
text-align: start;
width: 50%;
 }
main> div.comprar{
  gap: 2px; 
  display: flex;
  text-align: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  }
main>div.comprar button{
  background-color: var(--verdePrueba5);
  gap: 1.5px;
}
main>div.comprar button i{
  color: whitesmoke;
}

@media (min-width: 768px){

  main section article img {
    height: 150px;
    width: 180px;
  }


}




