/*Producto*/

main section.producto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
    border: 0.5px rgba(0, 0, 0, 0.5) solid;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 25px;
    margin: 5px 20px ;
    text-transform: uppercase;
}

section div.containerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--amarillo);
    border-radius: 10px;
    
}

article.showProduct div.imageContainer{
    background: linear-gradient( rgb(192, 242, 200), white);
}

article.showProduct div.imageContainer img{
    width: 250px;
    height: 300px;
    margin: 10px
}

article.showProduct div.altImg{
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

article.showProduct div.altImg img{
    width: 75px;
    height: 90px;
    margin: 0 5px;
    margin-top: 5px;
    background: linear-gradient( rgb(192, 242, 200), white);
}

section.compra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    border: 1px black solid;

}
section.compra div.metodo-pago{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 10px 0;
    
}

section.compra div.metodo-pago div.cajaPago img, .cajaEnvio, .tipoDePago{
    display: none;
}

section.compra div.metodo-pago div.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}

section.compra div.metodo-pago div.cantidad span{
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 5px;
    margin: 0 10px;
}
section.compra div.metodo-pago div.cantidad button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    color: var(--verdePrueba1);
}

section.compra div.metodo-pago div.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}
section.compra div.metodo-pago div.total span.totalFinal{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-left:20px;
    background-color: white;
}
section.compra div.acciones {
    width: 100%;
    justify-content: space-around;
    display: flex;
    margin: 0 20px;
}

section.product div.info-product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
}

section.producto div.info-product h2{
    text-align: center;
    width: 100%;
    padding: 5px;
}

section.producto div.info-product .price{
    color: var(--verdePrueba1);
}


/* Descripcion */


section.container-description{
    display: flex;
    justify-content: center;
    width: 100% ;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 1px 1px 1px 1px rgb(113, 112, 112);
} 
section.container-description h5{
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
section.container-description h6{
   font-size: 20px;
   background-color: beige;
   text-align: center;

}


/*Fin producto*/


/* Compartir */
section div.container-social {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 5px;
    box-shadow: 1px 1px 1px 1px rgb(113, 112, 112);
    justify-content: space-evenly;
    
    }   
  
    a.comparte i {
    font-size: 26px;
    padding: 0 5px;
       
}
    a.comparte i:hover {
        font-weight: 300;
        background: rgb(236, 244, 137);

    }
/* Fin Compartir */ 
h5{
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color:beige

}

/* PRODUCTOS RECOMENDADOS */

section div.productsContainer { /*recomend y venta*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    background: linear-gradient(var(--grisClaro), var(grey));
}

    section div.productsContainer article.productCard{ /*recomendados*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--amarillo);
    border-radius: 25px;
    padding: 1rem 0.5rem;
    margin: 10px;
    margin-bottom: 1rem;
    width: 220px;
    flex-wrap: nowrap;
    background: linear-gradient( rgb(192, 242, 200), white);    }

    section div.productsContainer article.productCard div.imageContainer{
    width: 80%;
    margin-bottom: 0.5rem;

    }

    section div.productsContainer article.productCard div.imageContainer img{
        display: flex;
        width: 100%;
        height: 100%;
    }

    section div.productsContainer article.productCard a.btn{
       
        height: 2rem;
        display: flex;
        align-content: center;
        justify-content: center;
        
        
        
    }

    div.imageContainer img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        
    
        }

    

    section.interes {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
/* FIN PRODUCTOS RECOMENDADOS */

 
/* Tablet */

@media (min-width: 768px){
    section.main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    section.producto{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        max-width: 420px;
        background-color: rgba(255, 255, 255, 0.5);

    }
    section.compra {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        height: 500px;
        align-items: center;
        justify-content: center;
        min-width: 320px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.5);

        
    }
    section.compra div.metodo-pago{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    section.compra div.metodo-pago .cajaPago, .cajaEnvio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    section.compra div.metodo-pago div.cajaPago img{
        width:85%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
    }

    section.compra div.metodo-pago .cajaPago .tipoDePago{
        flex-direction: column;
    }
    section.compra div.metodo-pago .cajaPago .tipoDePago div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

    }
    section.compra div.metodo-pago h2{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    section.compra div.metodo-pago div.options{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        padding: 0 10px;
        justify-content: space-around;
    }
    section.compra div.metodo-pago div.options input{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 5px;
    }
    
    section.compra div.metodo-pago div.tipoDePago{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        padding: 0 10px;
        justify-content: space-around;
    }
    section.compra div.metodo-pago div.tipoDePago input{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 5px;
    }
  
   
    section.compra div.acciones{
        justify-content: space-around;
        margin-top: 10px;

    }

}

  
  
  /* Desktop */
  
  @media (min-width: 1024px){
  
  
  }
  