header.main-header{
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
}

header.main-header a{
    height: 100px;
}


header.main-header a img{
    height: 100%;
}


/* MAIN */
main{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main div.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div.error-container #titulo{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

main div.error-container #imagen{
   border-radius: 10px;
   width: 279px;
   height: 300px;
}
main div.error-container #texto{
    font-size: 26px;
    padding: 20px;
    text-align: center;
}

main div.error-container #link-home{
    background-color: var(--amarillo);
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--verdePrueba1);
}



/* FOOTER */
footer {
    display: flex; 
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--verdePrueba2), var(--verdePrueba1));
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex-direction: column;
  }

  footer div#logo {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    
}

footer div#logo a img{
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}