
/* MAIN */
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main div.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

main div.error-container #titulo{
    display: flex;
    margin: 30px 0;
    text-align: center;
}
main div.error-container #titulo h2{
    width: 100%;
}

main div.error-container #imagen{
   border-radius: 10px;
   width: 279px;
   height: 300px;
}
main div.error-container #texto{
    font-size: 26px;
    padding: 20px;
    text-align: center;
}

main div.error-container #link-home{
    background-color: var(--amarillo);
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--verdePrueba1);
}
