/* --- FOOTER --- */

footer {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--verdePrueba2), var(--verdePrueba1));
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex-direction: column;
}

footer div.boton-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer nav {
  display: flex;
  width: 100%;
  padding: 0 5px;
}

footer nav nav.interaccion {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

footer nav nav.interaccion div.info-footer {
  flex-direction: column;
  text-align: center;
}

footer nav nav.interaccion h4 {
  font-size: 18px;

  margin-top: 5px 0;
  margin-bottom: 5px 0;
}

footer nav nav.interaccion ul {
  align-items: center;
  margin-bottom: 10px;
}

footer nav nav.interaccion ul li {
  margin-top: 5px;
  font-size: 16px;
}

footer nav nav.interaccion ul.red-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.info-footer ul li a {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer div.info-footer ul li i {
  padding: 0 5px;
  font-size: 30px;
  display: flex;
}
footer section.final {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer section.final div.qr {
  display: none;
}

footer div#logo {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  width: 100%;
}

footer div#logo a img {
  max-width: 290px;
  border-radius: 5px;
}

/* --- FIN FOOTER --- */

/* --- MEDIA QUERIES --- */

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 35px;
  }

  footer div.boton-arriba {
    order: 1;
  }

  footer section.final {
    order: 2;
  }

  footer nav {
    display: flex;
    width: auto;
    padding: 0 5px;
    order: 3;
  }
}
