/* GENERALES */
@import url('/font-awesome-6.1.2/css/font-awesome.min.css');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

ul ,li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Variables */

:root{

    --verdeClaro: #9fe01c;
    --verdeFlour: #03A600;
    --grisOscuro: #485550;
    --grisClaro: #D9D9D9;
    --naranja: #f78145;
    --amarillo: #f2c94e;
    --rojo: #f24e4e;
    --verdePrueba1: #11644d;
    --verdePrueba2: #a0b046;


}


/* Mobile */


/* --- MAIN --- */
main {
    background-image: url(/img/sepiaVerde.jpeg);
    background-repeat: repeat;  
}

main h1 {
    text-align: center;
}

main div.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 80px;
    background-color: var(--amarillo);
    color: var(--verdePrueba1);
}   

main div.info div{
 border-right: var(--verdePrueba1) 1px solid;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 1px 5px;
 padding: 10px;

}

main div.info div:last-child{
    border: none;
}

main div.info div i {
   font-size: 28px;
   flex-wrap: wrap;
}
/* CARRUSEL */

main section.carrusel{
    width: 95vw;
    height:50vh; 
    border: 1px solid black;
    margin: 1%;
    background-color: var(--grisClaro);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 3px 2px;

}

main section.carrusel div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main section.carrusel div img{
    height: 90%;
    justify-content: center;
    margin: 5px;
    width: 100%;
}

/* --- FIN CARRUSEL --- */

 /* --- Filtros --- */
main section.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section.filter nav.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
main section.filter nav.filter div.filter{
    height: 100px;
    width: 150px;
    padding: 20px;
    margin: 3px;
    display: flex;
    border: 1px black solid; 
    flex-direction: column;
    box-shadow:  black 3px 2px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-color: var(--amarillo);
   
          
}

main nav.filter div:hover{
    font-weight: 600;
    background: linear-gradient(var(--amarillo),var(--naranja),var(--rojo));
    border: var(--verdePrueba1) 3px solid;
}

main nav.filter div.filter a{
    display: flex;
    flex-direction: column;
    color: var(--verdePrueba1);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}

main nav.filter div.filter i{
    color: var(--verdePrueba1);
   font-size: 46px;
   margin-bottom: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* --- FIN FILTROS --- */

    /* --- OFERTAS --- */
section h2{
    text-align: center;
    text-transform: uppercase;
}

section div.productContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    background: linear-gradient(var(--verdePrueba2), var(--verdePrueba1));
}

    section div.productContainer article.productCard{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--amarillo);
    border-radius: 5px;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    width: 220px;
    height: 280px;
    flex-wrap: nowrap;
    background-color: var(--grisClaro);
    }

    section div.productContainer article.productCard div.imageContainer{
    width: 100%;
    height: 150px;
    margin-bottom: 0.5rem;
    }

    section div.productContainer article.productCard div.imageContainer img{
        width: 100%;
        height: 100%;
    }

    section div.productContainer article.productCard a.btn{

        
        width: 75%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        
    }

    div.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    }

    /* --- FIN OFERTAS ---*/

    /* SEPARADORES */



main div#suscribe{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100vw;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--amarillo);
    text-align: center;
    justify-content: center;
   
}

main div#suscribe div{
    display: flex;
    justify-content: center;
    align-items: center;
}
main div#suscribe div input{
    width: 50vw;
    height: 2rem;
    font-size: 20px;
    margin: 0px 15px;
    border-radius: 5px;
    padding: 2px;
}
main div#suscribe div button{
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
}


/* --- FIN MAIN --- */


/* --- FOOTER --- */

footer {
  display: flex; 
  width: 100vw;
  height: 40vh;
  background: linear-gradient(var(--verdePrueba2), var(--verdePrueba1));
  justify-content: center;
  padding-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex-direction: column;

}


footer nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer nav nav.interaccion{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    
}
footer nav nav.interaccion h4 {
    font-size: 20px;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 2px;
}

footer nav nav.interaccion ul{
    
    align-items: center;
}
footer nav nav.interaccion ul li{
    margin-top: 2px;
    font-size: 16px;
}


footer div.contacto ul li i{
 height: 60px;
 width: 60px;
 padding: 5px;
 font-size: 36px;
 display: flex;
}

footer div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer div#logo a img{
    width: 100%;
    max-width: 300px;
    
    
}

/* --- FIN FOOTER --- */


/* TABLET */


@media (min-width: 768px) {

   



}