:root {
  --primary: #485550;
  --secondary: #c0eb6a;
  --background: #d9d9d9;
  --menu: #ffffff;
  --specialFont: #f4f6f0;
  --font-family: "Roboto", sans-serif;
  --verdePrueba1: #11644d;
  --verdePrueba2: #a0b046;
  --verdePrueba3: #14a667;
  --verdePrueba4: #d7e87b;
  --amarillo: #f2c94e;
}




/* HEADER */

header {
  background: linear-gradient(var(--verdePrueba4), var(--verdePrueba3));;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px;
}



header a img {
  width: 65px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

/* FIN HEADER */

/* CUERPO */

main {
  display: flex;
  justify-content: center;
  padding: 25px;
}

main div.login__menu {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: rgba(255, 253, 253, 0.8);
  padding: 0 25px;  
  box-shadow: 15px 15px 25px rgb(100, 100, 100);
}

main div.login__menu div.login__menu-icon {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 2px solid black;
  gap: 6px;
  margin-bottom: 15px;
}

main div.login__menu div.login__menu-form {
  display: flex;
  flex-direction: column;
  font-size: 90%;
}

main div.login__menu div.login__menu-form span {
  display: block;
  text-align: center;
  font-size: 10px;
  color: red;
}

main div.login__menu div.login__menu-form form input {
  height: 30px;
  width: 100%;
  text-align: center;
  border: 1px black solid;
  border-radius: 10px;
}

main div.login__menu div.login__menu-form form input:hover{
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main div.login__menu div.login__menu-form div.opciones {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

main div.login__menu div.login__menu-form div.opciones a {
  margin-top: 15px;
}

main div.login__menu div.login__menu-form div.iniciar-sesion {
  display: flex;
  align-content: center;
  justify-content: center;
}


main div.login__menu div.login__menu-form div.iniciar-sesion button {
  display: flex;
  margin: auto;
  width: 30%;
  height: 50px;
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  margin: 5%;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  background-color: var(--amarillo); 
  border-radius: 5px;
}

main div.login__menu div.login__menu-form div.iniciar-sesion button:hover{
  background: linear-gradient(var(--verdePrueba3),var(--verdePrueba4),var(--verdePrueba3));
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main div.login__menu div.login__menu-form div.google-facebook {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

main div.login__menu div.login__menu-form div.google-facebook button {
  height: 50px;
  width: 80%;
  font-size: 100%;
  margin-bottom: 15px;
  background-color: var(--amarillo); 
}

main div.login__menu div.login__menu-form div.google-facebook button:hover{
  background: linear-gradient(var(--verdePrueba3),var(--verdePrueba4),var(--verdePrueba3));
}


main div.login__menu div.login__menu-form div.google-facebook button img {
  height: 50%;
  width: 5%;
  margin: 5px;
}

main div.login__menu div.login__menu-form div.crear-cuenta {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 100%;
}


main div.login__menu div.login__menu-form div.crear-cuenta button {
  height: 50px;
  width: 80%;
  font-size: 100%;
  margin-bottom: 15px;
  background-color: var(--amarillo);
}

main div.login__menu div.login__menu-form div.crear-cuenta button:hover{
  background: linear-gradient(var(--verdePrueba3),var(--verdePrueba4),var(--verdePrueba3));
}

main div.login__menu div.login__menu-form div.crear-cuenta button a {
  text-decoration: none;
  color: black;
}

/* FIN CUERPO */
