@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary: #485550;
  --secondary: #c0eb6a;
  --background: #d9d9d9;
  --menu: #ffffff;
  --specialFont: #f4f6f0;
  --font-family: "Roboto", sans-serif;
}

/* selector universal */
* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* HEADER */

header.main-header{
    display: flex;
    background-color: var(--primary);
    width: 100%;
}

header div.logo img {
    width: 120px;
    height: 50px;
    flex-wrap: wrap;
    
   
}

header div.busqueda {
  display: flex;
  align-items: center;
  border: 1px black;
  box-shadow: 10px;
}
header div.busqueda input{
width: 40vw;
height: 2.2rem;
padding: 5px;
margin: 10px;
border: 2px solid rgba(0,0,0, 0.5);
border-radius: 10px;

}

header div.busqueda button {
  height: 2.2rem;
  width: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

header div.busqueda button:hover {
  background-color: var(--grisClaro);
}

header nav ul.listaSuperior {
  display: none;
}

header nav.burger-menu{
    align-self: flex-end;
}

header nav div.burger-menu {
  color: var(--verdeFlour);
  border: 1px solid var(--verdeFlour);
  background-color: var(--grisClaro);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  width: 2.1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  align-self: flex-end;
}