@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary: #485550;
  --secondary: #c0eb6a;
  --background: #d9d9d9;
  --menu: #ffffff;
  --specialFont: #f4f6f0;
  --font-family: "Roboto", sans-serif;
  --verdePrueba1: #11644d;
  --verdePrueba2: #a0b046;

  
}

/* selector universal */
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

/* HEADER */

header.main-header{
    display: flex;
    background: linear-gradient(var(--verdePrueba2), var(--verdePrueba1));
    width: 100%;
    justify-content: space-between;
    
}

header div.logo img {
    width: 120px;
    height: 50px;
    flex-wrap: wrap;
}

header section{
  margin-right: 20%;
  display: flex;
  justify-content: center;
}

header div.busqueda {
  display: flex;
  align-items: center;
  border: 1px black;
  box-shadow: 10px;
}
header div.busqueda input{
width: 50vw;
height: 2.2rem;
padding: 5px;
margin: 10px 2px;
border: 2px solid rgba(0,0,0, 0.5);
border-radius: 10px;

}

header div.busqueda button {
  height: 2.2rem;
  width: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

header div.busqueda button:hover {
  background-color: var(--grisClaro);
}

  
header nav ul.listaSuperior {
  display: none;
}

header nav{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header nav div.burger-menu {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  width: 2.1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  align-self: flex-end;
  margin-right: 5px;
}

/* Tablet */

@media (min-width: 768px){

  header{
    
    justify-content: center
  }

  header div.logo{
    width: 5vw;
    
  }
  header section {
    display: flex;
    flex-direction: column;
    }
}












footer nav button.boton-arriba{
  display: none;
}


/* Desktop */

@media (min-width: 1180px){


}




