@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary: #485550;
  --secondary: #c0eb6a;
  --background: #d9d9d9;
  --menu: #ffffff;
  --specialFont: #f4f6f0;
  --font-family: "Roboto", sans-serif;
  --verdePrueba1: #11644d;
  --verdePrueba2: #a0b046;
  --verdePrueba3: #14a667;
  --verdePrueba4: #d7e87b;
  --verdePrueba5:#03A600;
  --amarillo: #f2c94e;  
}

/* selector universal */
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}
ul ,li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* BOTONES */ 
 .btn{
  border: 2px solid black;
  padding: 7px 7px;
  background-color: var(--amarillo);
  color: var(--verdePrueba1);
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 1s;
 }


.btn:hover{
  box-shadow: 0 0 10px var(--amarillo);
  background: linear-gradient(var(--verdePrueba3),var(--verdePrueba4),var(--verdePrueba3));
  border: var(--verdePrueba1) 3px solid;
  color: var(--verdePrueba1);
  
}


/* HEADER */

header.main-header{
    display: flex;
    background: linear-gradient(var(--verdePrueba4), var(--verdePrueba3));
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

header div.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
header div.logo img {
    width: 80px;
    height: 60px;
    flex-wrap: wrap;
    border-radius: 5px;

}

header section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header div.busqueda {
  display: flex;
  align-items: center;
  border: 1px black;
  box-shadow: 10px;
}
header div.busqueda input{
width: 100%;
height: 2.2rem;
padding: 5px;
margin: 10px 2px;
border: 2px solid rgba(0,0,0, 0.5);
border-radius: 10px;

}

header div.busqueda button {
  height: 2.2rem;
  width: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: var(--amarillo);
}

header div.busqueda button:hover {
  background: linear-gradient(var(--verdePrueba4), var(--verdePrueba3));
  box-shadow: 0 0 10px var(--amarillo);
  color: var(--verdePrueba1);
}

  
header nav ul.listaSuperior {
  display: none;
}

header nav{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header nav div.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-right: 5px;
  border: 3px solid var(--verdePrueba1);
}

header nav.navegacion{
  display: none;
}

/* MAIN */ 
body {
  background-image: url(/img/sepiaMarron.jpeg);
  background-repeat: repeat;  
  background-position: center;
  background-size: contain;
}

/* --- FOOTER --- */

footer {
  display: flex; 
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--verdePrueba2), var(--verdePrueba1));
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex-direction: column;

}

footer div.boton-arriba{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer div.boton-arriba a{
 height: 20px;
 width: 40px;
 border-radius: 5px;
 background-color: var(--verdePrueba2);
 border: 2px var(--verdePrueba1) solid;
 border-radius: 5px;
 text-align: center;
}

footer div.boton-arriba a:hover{
    box-shadow: 0 0 10px var(--amarillo);
    transform: scale(1.2);
}


footer nav {
    display: flex;
    width: 100%;
    padding: 0 5px;
}

footer nav nav.interaccion{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    
}

footer nav nav.interaccion div.info-footer{

    flex-direction: column;
    text-align: center;
}

footer nav nav.interaccion h4 {
    font-size: 18px;
    
    margin-top: 5px 0;
    margin-bottom: 5px 0;
}

footer nav nav.interaccion ul{
    
    align-items: center;
    margin-bottom: 10px;
}

footer nav nav.interaccion ul li{
    margin-top: 5px;
    font-size: 16px;
}

footer nav nav.interaccion ul.red-social{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer div.info-footer ul li a{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}


footer div.info-footer ul li i{

 padding: 0 5px;
 font-size: 30px;
 display: flex;
}
footer section.final{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer section.final div.qr{
    display: none;
}

footer div#logo {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    width: 100%;
    
}

footer div#logo a img{
    max-width: 290px;
    border-radius: 5px; 
}

/* --- FIN FOOTER --- */





/* Tablet */

@media (min-width: 768px){

  header{
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
   
  }


  header div.busqueda{
    margin-left: 30px;
    width: 475px;

  }

  header div.logo img{
    width: 120px;
    height: 100px;
    flex-wrap: wrap;
    
  }
  header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    }

  
  header nav {
      flex-grow: 1;
      height: 40px;
  }
  
  header nav.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  header nav.navegacion ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  header nav.navegacion ul li{
    margin: 5px 10px;
  }
  header nav ul.listaSuperior {
  
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      
      
  }
  
header nav ul.listaSuperior li {
     
      padding: 0 5px;
     
      
  }

  header nav div.burger-menu{
      display:none;
  }
  
  
  /* --- FIN HEADER --- */


/* FOOTER */ 


footer div.boton-arriba{
  display: none;
}
footer div.info-footer ul li a{
  font-size: 16px;

}

footer section.final{
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}


footer section.final div.qr{
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
}

footer section.final div.qr img{
  max-width: 100px;
  max-height: 100px;
} 

footer div#logo {
  padding-bottom: 0;
  width: 100%;
  justify-content: start;
}

footer div#logo a img{
  max-width: 300px;
  border-radius: 5px; 
}



}


