<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %> 
<main class="admin-main">
    <h1>Pagina para admins</h1>
    <p>Tomate un cafesito pibx que estamos trabajando en la vista</p>
    <img src="image\animalPark\Error.png" alt="">

</main>
    <%- include("../partials/footer")  %> 
</body>
</html>