<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>detalleProducto</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/detalleProducto.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    </head>

<body>

    <header class="main-header">

        <div class="logo"><img src="/img/logo_cuadrado_fondo_blanco-mod.png" alt="Logo-mobile" class="logo"></div>
    <section>
        <div class="busqueda">
            <input type="search" placeholder="Buscar productos">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <nav>
           
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
             </div>
            <ul class="listaSuperior">
                <li><a class="btn" href="">Carrito</a></li>
                <li><a class="btn" href="">Login/Micuenta</a></li>
                <li><a class="btn" href="">Ayuda</a></li>
            </ul>
        </nav>
        <main>
    </section>
    </header>
       
    <div class="card-img">
        <img src="image/whiskas.jpg" alt="imagen-producto-whiskas"/>
    </div>
    <div class="container-info-product">
        <div class="container-price">
            <span>$7.560</span>
            <i class="fa-solid fa-angle-right"></i>
        </div>

        <div class="title">
        <h3 class="font-weight-light">Whiskas sabor Pescado por 10,1 kilos</h3>
         <p>$7.560-</p>
        </div>

         <a href="" class="btn">Comprar</a>
         <a href="" class="btn">Agregar al carrito</a>
         <a href="" class="btn">Favoritos</a>
       
         <div class="container-description">
            <div class="title-description">
                <h4>Descripción</h4>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="container-info-product">
                <p>
                    Whiskas adulto es un alimento para gatos adultos a partir de los 12 meses de edad. Contiene croquetas con un gran sabor y un relleno cremoso para satisfacer el exigente paladar de los gatos. Whiskas tiene un sabor inigualable que incluye todos los nutrientes necesarios para una alimentación completa. Su formulación estimula la ingesta de agua ayudando a mantener el tracto urinario saludable. 
                </p>
            </div>

        
        <div class="container-social">
            <span>Compartir</span>
           <div class="container-buttons-social">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
           </div> 

           
        </div>
    </div>
</article>
</main>

<section class="container-related-products">
    <h2> Productos relacionados</h2>
    <div class="card-list-products">
        <div class="card">
           
            <div class="card-img">
                <img src="image/whiskas.jpg" alt="producto-1">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>Producto recomendado 1</h3>
                    <p class="categoria">
                        Alimento de gatos
                    </p>
                </div>
                <div class="price">$8.600</div>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="image/whiskas.jpg" alt="producto-2">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>Producto recomendado 1</h3>
                    <p class="categoria">
                        Alimento de gatos
                    </p>
                </div>
                <div class="price">$8.550</div>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="image/whiskas.jpg" alt="producto-3">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>Producto recomendado 1</h3>
                    <p class="categoria">
                        Alimento de gatos
                    </p>
                </div>
                <div class="price">$9.655</div>
            </div>
        </div>
    </div>
</section>



<footer>

        <nav>
        <button class="boton-arriba">></button>
        <nav class="interaccion">
            
            <div class="contacto">
                <h4>Contactanos</h4>
                <ul>
                    <li><a href="#">Contacto</a></li>
                    <li id="fb"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li id="ig"><a href="#"><i class="fa-brands fa-instagram"></i></li>
                </ul>
            </div>

            <div class="ayuda">
            <h4>Sobre nosotros</h4>
            <ul>
                <li><a href="#">Quienes somos?</a></li>
                <li><a href="#">Proveedores</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
            </div>
    
       
     </nav>
    </nav>
    <div id="logo"><a href="/views/home.html"><img src="/img/logo_banner_fondo_blanco_mod.png" alt="logo"></a></div>
   
    </footer>






    
</body>
</html>