<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1db27a1d0e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/register.css" />
    <title>Registrarse - Animal Park</title>
  </head>
  <body>
    <header class="main-header" id="top">
      <div class="logo">
        <a href="/"
          ><img
            src="/img/logo_cuadrado_fondo_blanco-mod.png"
            alt="Logo-mobile"
            class="logo"
        /></a>
      </div>
    </header>
    <main>
      <div class="register__container">
        <div class="register__container-formTitle">
          <i class="fa-solid fa-circle-user"></i>
          <h1 class="title">Crear cuenta</h1>
        </div>
        <form action="#" class="register__container-form" method="post">
          <div class="form-element">
            <label for="userName">Tu nombre de usuario</label>
            <input
              type="text"
              name="userName"
              id="userName"
              placeholder="Ej: Cosme Fulanito"
            />
          </div>
          <div class="form-element">
            <label for="email">Tu email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Ej: cosme@email.com"
            />
          </div>
          <div class="form-element">
            <label for="password">Contraseña</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="¡La contraseña debe contener al menos seis carácteres!"
            />
          </div>
          <div class="form-element">
            <label for="repeatPassword">Vuelve a escribir la contraseña</label>
            <input type="password" name="repeatPassword" id="repeatPassword" />
          </div>
          <div class="form-terms">
            <input type="checkbox" name="terms" id="terms" />
            <label for="terms">Acepto los </label>
            <a href="#" target="_blank">terminos y condiciones</a>
          </div>
          <button type="submit" class="form-submit">Registrar</button>
        </form>
        <div class="register__container-separator">
          <div class="line"></div>
          <p>o</p>
          <div class="line"></div>
        </div>
        <div class="register__container-network">
          <button>
            <img src="image/google.png" alt="" srcset="" /> Crear cuenta con
            Google
          </button>
          <button>
            <img src="image/facebook.png" alt="" srcset="" /> Crear cuenta con
            Facebook
          </button>
        </div>
        <div class="register__container-separator">
          <div class="line"></div>
          <p>o</p>
          <div class="line"></div>
        </div>
        <div class="existentAccount">
          <p>¿Ya tienes una cuenta?</p>
          <a href="/Login">Ingresa</a>
        </div>
      </div>
    </main>
    <footer>
      <div class="boton-arriba"><a href="#top">^</a></div>

      <nav>
        <nav class="interaccion">
          <div class="info-footer">
            <h4>Contactanos</h4>
            <ul class="red-social">
              <li>
                <a
                  href="https://wa.me/5411234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20producto"
                  ><i class="fa-brands fa-whatsapp"></i
                ></a>
              </li>
              <li>
                <a href="https://www.facebook.com/"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </li>
            </ul>
          </div>

          <div class="info-footer">
            <h4>Sobre nosotros</h4>
            <ul>
              <li><a href="#">Quienes somos?</a></li>
              <li><a href="#">Proveedores</a></li>
              <li><a href="#">Terminos y condiciones</a></li>
            </ul>
          </div>

          <div class="info-footer">
            <h4>Ayuda</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="/register">Registrarme</a></li>
            </ul>
          </div>
        </nav>
      </nav>

      <div id="logo">
        <a href="/views/home.html"
          ><img src="/img/logo_banner_fondo_blanco_mod.png" alt="logo"
        /></a>
      </div>
    </footer>
  </body>
</html>
