aside.navBar {
  width: 100px;
  background-color: var(--background);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 50px;
  height: 100vh;
}

aside.navBar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
aside.navBar ul li:hover {
  text-decoration: underline;
  text-decoration-color: #f2c94e;
}

@media (min-width: 768px) {
    aside.navBar {
        display: flex;
      }
}